<%- include ('partion/head'); %>

    <body>
        <!--esse é o novo jeito de incluir paginas-->
        <%- include ('partion/navbar'); %>

            <div class="container">
                <hr>
                <h1>Perguntas</h1>
                <hr>
                <a href="/perguntar" class="btn btn-primary">Perguntar</a>
                <hr>
                <%pergunta.forEach(pergunta=>{%>
                    </br>
                    <div class="card">
                        <div class="card-body">
                            <h3>
                                <%=pergunta.titulo%>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <!--linkando links-->
                            <a href="/pergunta/<%=pergunta.id%>">
                                <button class="btn btn-primary">Responder</button>
                            </a>
                        </div>
                    </div>

                    <% }) %>

            </div>

            </bory>
            <%- include ('partion/footer'); %>